export CARGO_TARGET_DIR=

export GIT_AUTHOR_EMAIL=

export GIT_CONFIG_COUNT=

export GIT_CONFIG_KEY_0=
export GIT_CONFIG_VALUE_0=

export GIT_CONFIG_KEY_1=
export GIT_CONFIG_VALUE_1=

export GIT_CONFIG_KEY_2=
export GIT_CONFIG_VALUE_2=

export GIT_CONFIG_KEY_3=
export GIT_CONFIG_VALUE_3=
